body {
    font-family: Arial, sans-serif;
}

header {
    border-bottom: 2px solid #EEE;
    width: 700px;
}
.address-page-2 {
    border-bottom: 2px solid #EEE;
    width: 700px;
}

.page-title {
    font-size: 2em;
    font-family: Arial, sans-serif;
    color:rgb(115, 115, 115);
}

label {
    display: block;
    color:rgb(115, 115, 115);
    font-size: 18px;
    padding: .2em;
}

input {
    width:700px;
    font-size:16px;
    line-height:32px;
    width: 700px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.column-mobile {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.save-button {
    font-size: 24px;
}
button {
    background: rgb(85, 220, 184);
    width: 700px;
    margin-top: 30px;
    position:fixed;
}
.octicon-location {
    margin-left: 97%;
    margin-top: -40px;

}
.octicon-chevron-left {
    padding: 5px;

}
