.col-mobile{
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.header-page-2{
  margin-bottom: 35px;
}

.new-appointment{
  font-size: 24px;
  margin-left: 25%;
}

.label{
  display:block;
  font-size: 19px;
  color:#666;
}

input{
  font-size: 16px;
  line-height: 22px;
  width: 350px;
  margin-top: 3px;
}

.page2{
  padding-top: 10px;
  padding-bottom:25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 5px;
  padding-right: 5px;
}

.time-page-2{
  border-bottom: none;
}

.octicon{
  color: #666;
}

.ping,
.clock,
.calendar{
  display: inline-block;
  margin-left: 93%;
  margin-top: -23px;
  margin-bottom: 23px;
}

.save-appointment{
  font-size: 24px;
  padding-top: 15px;
  color: white;
  height: 5%;
  position: fixed;
  bottom: 0;
  background: rgb(85, 220, 184);
  background-image: linear-gradient(teal, rgb(85, 220, 184));
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}
