body {
    font-family: Arial, sans-serif;
}

header {
    border-bottom: 2px solid #EEE;
    width: 700px;
}
.address-page-2 {
    border-bottom: 2px solid #EEE;
    width: 700px;
}

.page-title {
    font-size: 2em;
    font-family: Arial, sans-serif;
    color:rgb(115, 115, 115);
}

.title-page-2,
.date-page-2 {
    border-bottom: 2px solid #EEE;
    width:700px;
    margin-bottom: 1.5em;
}
.time-page-2 {
    width: 700px;
}

label {
    display: block;
    color:rgb(115, 115, 115);
    font-size: 18px;
    margin-top: .5em;
    margin-bottom: .5em;
}

input {
    width:700px;
    font-size:16px;
    line-height:32px;
    width: 700px;
    margin-top: 6px;
    margin-bottom: 1em;
}

.column-mobile {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.save-button {
    font-size: 24px;
}
button {
    background: rgb(85, 220, 184);
    width: 700px;
    margin-top: 30px;
    position:fixed;
    bottom:5px;
}

.octicon-location,
.octicon-calendar,
.octicon-clock  {
    margin-right: 10px;
    margin-top: -40px;
    float:right;
    position: relative;
}


.octicon-chevron-left {
    padding: 5px;

}
